@media screen and (min-width:500px){ 
 .box{
   width: 500px;
   background-color: green;
 }
}
@media screen and (min-width:1000px){ 
 .box{
   width: 1000px;
   background-color: blue;
 }
}

h1{
   font-size:100px;
   font-family:微軟正黑體;
   color: #7744FF;  
}
h2{
    font-size:80px;
   font-family:微軟正黑體;
   color:white; 
}
h3{
    font-size:30px;
   font-family:微軟正黑體;
   color:white; 
}
h4{
    font-size:50px;
   font-family:微軟正黑體;
   color:white; 
}