@media (max-width:480px){
    *{
        padding:10px;
    }
    article {
        float:none;
        width:auto;
        height:auto;
    }
    aside {
        float:none;
        width:auto;
    }
}

h1{
   font-size:100px;
   font-family:微軟正黑體;
   color: #7744FF;  
}
h2{
    font-size:80px;
   font-family:微軟正黑體;
   color:white; 
}
h3{
    font-size:30px;
   font-family:微軟正黑體;
   color:white; 
}
h4{
    font-size:50px;
   font-family:微軟正黑體;
   color:white; 
}